section.wrapper.singlePage
   .row.container
      header
         h1 {echo $news->getTitle()}
         span {echo "Vytvořil: ".$news->getUserAlias().", ".\App\Helper\DateFormater::t2d($news->getCreated())}
      |{echo html_entity_decode($news->getBody())}