
<div class="notificationWrapper">{if !empty($infoMessage)}
  <div class="notification msginfo large-5 small-12 medium-8 centerBlock"><a href="#" class="fi-x-circle closeNotif"></a>
    <p class="fi-info">{echo $infoMessage}</p>
  </div>{/if}
  {if !empty($warningMessage)}
  <div class="notification msgalert large-5 small-12 medium-8 centerBlock"><a href="#" class="fi-x-circle closeNotif"></a>
    <p class="fi-alert">{echo $warningMessage}</p>
  </div>{/if}
  {if !empty($successMessage)}
  <div class="notification msgsuccess large-5 small-12 medium-8 centerBlock"><a href="#" class="fi-x-circle closeNotif"></a>
    <p class="fi-check">{echo $successMessage}</p>
  </div>{/if}
  {if !empty($errorMessage)}
  <div class="notification msgerror large-5 small-12 medium-8 centerBlock"><a href="#" class="fi-x-circle closeNotif"></a>
    <p class="fi-skull">{echo $errorMessage}</p>
  </div>{/if}
  {if !empty($longFlashMessage)}
  <div class="notification_long msginfo large-5 small-12 medium-8 centerBlock"><a href="#" class="fi-x-circle closeNotif"></a>
    <p class="fi-info">{echo $longFlashMessage}</p></p>
  </div>{/if}
</div>