section.wrapper.akce.singlePage
   header.row
      h2 Archiv akcí
   section.row.container
      |{if !empty($actions)}
      |{foreach $action in $actions}
      article
         header
            h3 {echo $action->getTitle()}
            span 
                small {echo "Vytvořil: ".$action->getUserAlias().", ".\App\Helper\DateFormater::t2d($action->getCreated())}
         .body
            div {echo html_entity_decode($action->getShortBody())}
            a(href!='/akce/r/{echo $action->getUrlKey()}') čti více
      |{/foreach}
      |{/if}
   include ../components/pager