section.wrapper.singlePage
   .row.container
      header
         h1 {echo $action->getTitle()}
         span {echo "Vytvořil: ".$action->getUserAlias().", ".\App\Helper\DateFormater::t2d($action->getCreated())}
         br
         span Datum: <strong>{echo \App\Helper\DateFormater::t2d($action->getStartDate())}</strong> - <strong>{echo \App\Helper\DateFormater::t2d($action->getEndDate())}</strong>
         br
         |{if !empty($action->startTime)}
         span Čas: <strong>{echo $action->getStartTime()}</strong> - <strong>{echo $action->getEndTime()}</strong><br/>
         |{/if}
      |{echo html_entity_decode($action->getBody())}