section.wrapper.akce.pb.singlePage
   header.row
      h2 akce
   |{if !empty($actions)}
   section.row.container
      |{foreach $action in $actions}
      article
         .date
            .den {echo \App\Helper\DateFormater::g2dn($action->getStartDate())}
            .mesic {echo \App\Helper\DateFormater::g2mn($action->getStartDate())}
         header
            h3 {echo $action->getTitle()}
            span 
                small {echo "Vytvořil: ".$action->getUserAlias().", ".\App\Helper\DateFormater::t2d($action->getCreated())}
         .body
            div {echo html_entity_decode($action->getShortBody())}
            a(href!='/akce/r/{echo $action->getUrlKey()}') čti více
      |{/foreach}
   .moreWrap.large-2.medium-3.small-6.centerBlock
      a(href='/probehleakce')
         .more
            span Již proběhlé akce
   .moreWrap.large-2.medium-3.small-6.centerBlock
      a(href='/archivakci')
         .more
            span Archiv akcí
   |{/if}{else}
   section.row.container
      div Žádné akce nejsou naplánované
   |{/else}
   br
   include ../components/pager