section.wrapper.gallery.singlePage
   header.row
      h2 Galerie
   .row
      |{if !empty($galleries)}
      |{foreach $gallery in $galleries}
      a(href!='/galerie/r/{echo $gallery->getUrlKey()}' title!='{echo $gallery->getTitle()}')
         .large-4.medium-6.small-12.columns.galleryWrapper
            article
               .imgWrapper
                  img(src!='{echo $gallery->getImgThumb()}')
               .info
                  h3 {echo $gallery->getTitle()}
      | {/foreach}
      |{/if}{else}
      .large-12.medium-12.small-12.columns
         h2 Žádné galerie nejsou k dispozici
      |{/else}
   include ../components/pager
