
<section class="wrapper profil singlePage">
  <div class="row">
    <div class="buttonWrapper large-8 medium-12 small-12 centerBlock">
      <ul>
        <li><a href="/bazar/pridat" class="fi-plus">Nový inzerát</a></li>
        <li><a href="/bazar/moje-inzeraty" class="fi-page-copy">Moje inzeráty</a></li>
        <li><a href="#" id="openEdit" class="fi-pencil">Upravit údaje</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <article id="info" class="small-12 large-8 medium-8 centerBlock">
      <table>
        <tr>
          <td><span>Jméno:</span></td>
          <td>{echo $user->firstname." ".$user->lastname}</td>
        </tr>
        <tr>
          <td><span>Telefon:</span></td>
          <td>{echo $user->phoneNumber}</td>
        </tr>
        <tr>
          <td><span>Email:</span></td>
          <td>{echo $user->email}</td>
        </tr>
      </table>
    </article>
    <article id="edit" class="small-12 large-8 medium-8 centerBlock"><a href="#" id="closeEdit" class="fi-x-circle"></a>
      <form method="post" action="#">
        <input type="hidden" name="csrf" id="csrf" value="{echo $token}"/>
        <table>
          <tr>
            <td><span>Jméno:</span></td>
            <td>{if isset($errors["firstname"])}
              <label class="error fi-alert">{echo join("<br/>", $errors["firstname"])}</label>{/if}
              {echo \App\Helper\FormPrinter::textInput('firstname', array($user,'firstname'), true, '')}
            </td>
          </tr>
          <tr>
            <td><span>Příjmení:</span></td>
            <td>{if isset($errors["lastname"])}
              <label class="error fi-alert">{echo join("<br/>", $errors["lastname"])}</label>{/if}
              {echo \App\Helper\FormPrinter::textInput('lastname', array($user,'lastname'), true, '')}
            </td>
          </tr>
          <tr>
            <td><span>Telefon:</span></td>
            <td>{if isset($errors["phoneNumber"])}
              <label class="error fi-alert">{echo join("<br/>", $errors["phoneNumber"])}</label>{/if}
              <input type="tel" name="phone" value="{echo isset($user)? $user->phoneNumber: ""}"/>
            </td>
          </tr>
          <tr>
            <td><span>Email:</span></td>
            <td>{if isset($errors["email"])}
              <label class="error fi-alert">{echo join("<br/>", $errors["email"])}</label>{/if}
              <input type="email" name="email" value="{echo isset($user)? $user->email: ""}" required="required"/>
            </td>
          </tr>
          <tr>
            <td><span>Původní heslo:</span></td>
            <td>{if isset($errors["oldpass"])}
              <label class="error fi-alert">{echo join("<br/>", $errors["oldpass"])}</label>{/if}
              <input type="password" placeholder="nepovinné..." pattern=".{5,}" title="min. 5 znaků" name="oldpass"/>
            </td>
          </tr>
          <tr>
            <td><span>Heslo:</span></td>
            <td>{if isset($errors["password"])}
              <label class="error fi-alert">{echo join("<br/>", $errors["password"])}</label>{/if}
              <input type="password" placeholder="nepovinné..." pattern=".{5,}" title="min. 5 znaků" name="password"/>
            </td>
          </tr>
          <tr>
            <td><span>Ověření hesla:</span></td>
            <td>{if isset($errors["password2"])}
              <label class="error fi-alert">{echo join("<br/>", $errors["password2"])}</label>{/if}
              <input type="password" pattern=".{5,}" title="min. 5 znaků" name="password2" placeholder="nepovinné..."/>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="submit" name="editProfile" value="Upravit" class="more"/>
            </td>
          </tr>
        </table>
      </form>
    </article>
  </div>
</section>