
<section class="wrapper pageSearch singlePage">{if empty($urls)}
  <header class="row">
    <h2>Výsledky hledání</h2>
  </header>
  <section class="row container">
    <div class="large-12 medium-12 small-12 column">
      <h3>Pro hledaný výraz nebyl nenalezen žádný odkaz</h3>
    </div>
  </section>{/if}
  {else}
  <header class="row">
    <h2>Výsledky hledání</h2>
  </header>
  <section class="row container">
    <div class="large-12 medium-12 small-12 column">{foreach $url in $urls}
      <article><a href="{echo $url['path']}">
          <h3>{echo $url_i}</h3></a><small><span>{echo \App\Helper\DateFormater::t2dt($url['created'])}</span><br/></small>
        <div>{echo $url['meta']}</div>
      </article>{/foreach}
    </div>
  </section>{/else}
</section>