/* 
    Document   : styles
    Created on : 12.12.2013, 14:55:51
    Author     : Tomy
    Description:
        Purpose of the stylesheet follows.
*/


/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, 
figcaption, figure, footer, header, hgroup, keygen, meter, nav, 
output, progress, section, source, video {display:block;}

mark, rp, rt, ruby, summary, time {display:inline;}

/* Left & Right alignment */
.left {float:left;}
.right {float:right;}
.left-10 {float:left; margin-right: 10px;}
.right-10 {float:right; margin-left: 10px;}
.relative {position:relative;}
.aligncenter{text-align: center;}
.nodisplay{display: none !important;}
.fs10{font-size: 10px;}
.clear{clear: both;}

/* třída pro skrývání H1 u articlu*/
.visuallyhidden {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}

/* Global properties */
body {
    background:#fff; 
    border:0; 
    font:14px Arial, Helvetica, sans-serif; 
    color:#0f0f0f; 
    line-height:20px;
    min-width: 800px;
}

a {color:#FF6A09; text-decoration:underline; outline:none}
a:hover {text-decoration:none}
p {padding-bottom: 10px;}
b, strong{font-weight: bold;}

.basic, article{padding: 20px 0; border-bottom: 1px solid #999;}
.basic h1{padding: 10px; font-size: 20px; font-weight: bold;}
.basic h2{font-size: 17px; font-weight: bold;}
/* CONTENT */

.content{
    margin: 0 auto; 
    overflow: hidden;
}
/* NOTIFICATION */
.ad-notif-error, .ad-notif-success, .ad-notif-warn, .ad-notif-info {
    max-height: 50px;
    margin-bottom: 20px;
    border-radius: 3px;
    background: url(../../images/notif-bg.jpg) repeat-x;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
}
.ad-notif-error p, .ad-notif-success p, .ad-notif-warn p, .ad-notif-info p {
    color: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    margin: 0 20px;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.ad-notif-success { background-position: 0 0; border: 1px solid #71a100; }
.ad-notif-warn { background-position: 0 -50px; border: 1px solid #cbac00; }
.ad-notif-error { background-position: 0 -100px; border: 1px solid #c63434; }
.ad-notif-info { background-position: 0 -150px; border: 1px solid #308eef; }

/* Levy panel*/
aside{
    width:250px; 
    height:100%;
    min-height:570px;
    float:left;
    left:0;
    position: fixed;
    background-color:black;
    overflow:auto;
}
aside header {
    text-align:center;
}
aside header h3{color:gray;margin-top:5px;font-size:12px;}
aside header h1{margin-top:30px;margin-bottom:5px; font-weight:bold; font-size:40px; }
aside header a{text-decoration:none;}


/*********MENU**********/
nav ul {
    float:left;
    text-align:left;
    margin-top:50px;
}
nav ul li{
    margin-bottom:5px;
}
nav ul li a {
    font-family: Verdana,sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    color: #666;
    display:block;
    text-decoration:none;
    padding-left:20px
}
nav ul li a:hover, nav #active a {color:#FF6A09;}

/* FOOTER */
footer {
    float:left;
    bottom:0;
    position:absolute;
    font-size:16px;
    color:#666;
    text-align:left;
    padding-bottom:40px;
    padding:20px;
}
.odkazy{
    margin:40px 0;
}
.odkazy h1{
    font-size:18px;
    margin-bottom:5px;
    
}

.homepage{
     background-image:url('../..//images/F1.jpg');
    background-repeat: no-repeat;
    background-position-y:center; 
    background-position-x:center;
    background-size: 100% auto;
    background-attachment:scroll;
    
    position:relative;
    z-index:0;
    height:450px;
}

#contentWrapper{
    margin-left:250px;
}

.detailMatch{
    margin-left:10px;
}

.detailMatch tr td:nth-child(2){font-weight:bold;}
.message, .reply{
    background-color:rgba(125,125,125,0.2);
    padding:10px;
    margin:5px;
}
.reply{background-color:rgba(125,125,125,0.1)}
/* FORM */
.stdform p { margin: 15px 0; }
.stdform span.field, .stdform div.field { margin-left: 170px; display: block; position: relative; }
.stdform label { float: left; width: 150px; text-align: right; padding: 5px 20px 0 0; }
.stdform span.error { float: none; color: #ff6600; font-size: 13px; display: block; text-align: left; font-weight: bold; margin-left: 220px;}

.stdform input { 
    border: 1px solid #ccc; background: #fcfcfc; padding: 8px 5px; width: 300px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; 
    -moz-box-shadow: inset 1px 1px 2px #ddd; -webkit-box-shadow: inset 1px 1px 2px #ddd; box-shadow: inset 1px 1px 2px #ddd; color: #666; 
}
.stdform input:focus { background: #fff; -moz-box-shadow: inset 1px 1px 2px #eee; -webkit-box-shadow: inset 1px 1px 2px #eee; box-shadow: inset 1px 1px 2px #eee; }
.stdform .microinput { width: 15%; }
.stdform .smallinput { width: 40%; }
.stdform .mediuminput { width: 60%; }
.stdform .longinput { width: 80%; }

.stdform textarea { 
    border: 1px solid #ccc; background: #fcfcfc; padding: 8px 5px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; 
    -moz-box-shadow: inset 1px 1px 2px #ddd; -webkit-box-shadow: inset 1px 1px 2px #ddd; box-shadow: inset 1px 1px 2px #ddd; color: #666;
}
.stdform textarea.error { border: 1px solid #ff6600; }

.stdform select { 
    border: 1px solid #ccc; padding: 7px 5px; min-width: 40%; background: #fcfcfc; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; 
    -moz-box-shadow: inset 1px 1px 2px #ddd; -webkit-box-shadow: inset 1px 1px 2px #ddd; box-shadow: inset 1px 1px 2px #ddd; color: #666;
}
.stdform select.error { border: 1px solid #ff6600; }

.stdform textarea:focus, .stdform select:focus { 
    background: #fff; -moz-box-shadow: inset 1px 1px 2px #eee; -webkit-box-shadow: inset 1px 1px 2px #eee; box-shadow: inset 1px 1px 2px #eee; 
}

/* TABLE*/
table {border-spacing: 0; width: 100%;}
table tr:first-child{font-size: 15px; font-weight: bold;}
table tr td {padding: 5px 3px;}

/* ------------------------ PAGE SPECIAL STYLES ------------------------ */
.indexNextMatch div{padding: 5px;}

.newsDetail{}
.newsDetail .meta{font-size: 12px; font-style: italic; float: left; margin-right: 50px;}
.newsDetail .newsText{}
.newsText a:hover{text-decoration: underline; color:black;}

.lastmatch {margin: 5px 15px 20px 15px; padding: 15px 0 0 60px; float: left;}
.lastmatch-left {margin: 0 30px 0 10%; text-align: right; float: left;}
.lastmatch-right{text-align: left;}
.lastmatch-result{
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
}

.messageWrapper{border:0px; padding: 15px !important; }
.messageWrapper span.title{font-weight: bold;}
.messageWrapper span.meta{font-size: 12px; font-style: italic; float: left; margin-right: 50px;}
.message{overflow: hidden;position:relative;}
.reply{margin-left: 100px; padding: 10px; overflow: hidden;}
.showReplyForm{position:absolute; top:2%; right:1%;}
.replyForm{display: none;}


.trainingWrapper{float: left; border: 1px solid #999; border-radius: 5px; margin-bottom: 20px; padding: 15px;}
.trainingWrapper h2{float: left;}
.trainingCalIcon{float: left;}
.trainingControls{margin-left: 30%;}
.trainingControls a{ margin-left: 30px;}
.trainingResult{margin-top: 15px; float: left;}
.trainingResult div{margin-bottom: 10px;}

.memberProfile{min-height: 280px; border: 2px solid #999; border-radius: 8px; overflow: hidden;margin-bottom:15px;}
.memberProfile .memberPhoto{float: left; width: 170px; max-height:240px; margin: 15px 10px 15px 10px;}
.memberProfile .memberData{margin: 15px 0 15px 10px; overflow: hidden;}
.memberProfile .memberData table tr td:nth-child(2){font-weight: bold;}

.goBackWrapper{position: absolute; top: 30px; left: 65%; }
.gallery-cont{}
.gallery-avatar{float: left;}
.gallery-desc{margin-left: 190px; padding: 10px;}
.galleria{ max-width: 1100px; height: 800px; background: #000 }

.inline-list{text-align: center;}
.inline-list li{display: inline; margin: 15px;}

/* -------------------------------- RIBBON -------------------------------- */
.ribbon-wrapper {
    min-width: 90px;
    min-height: 90px;
    background: rgba(125,125,125,0.2);
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
    position: relative;
    z-index: 90;
}

.ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    left: -3px;
}

.ribbon-green-left {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 7px 0;
    right: 30px;
    top: 15px;
    width: 120px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A),   to(#8EBF45)); 
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-orange-left {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 7px 0;
    right: 30px;
    top: 15px;
    width: 120px;
    background-color: #EFAF30;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EFAF30),   to(#FF9914)); 
    background-image: -webkit-linear-gradient(top, #EFAF30, #FF9914); 
    background-image:    -moz-linear-gradient(top, #EFAF30, #FF9914); 
    background-image:     -ms-linear-gradient(top, #EFAF30, #FF9914); 
    background-image:      -o-linear-gradient(top, #EFAF30, #FF9914); 
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-red-left {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 7px 0;
    right: 30px;
    top: 15px;
    width: 120px;
    background-color: #EF7A56;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EF7A56),   to(#FF3E30)); 
    background-image: -webkit-linear-gradient(top, #EF7A56, #FF3E30); 
    background-image:    -moz-linear-gradient(top, #EF7A56, #FF3E30); 
    background-image:     -ms-linear-gradient(top, #EF7A56, #FF3E30); 
    background-image:      -o-linear-gradient(top, #EF7A56, #FF3E30); 
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green-right {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green-left:before, .ribbon-green-left:after,
.ribbon-orange-left:before, .ribbon-orange-left:after,
.ribbon-red-left:before, .ribbon-red-left:after,
.ribbon-green-right:before, .ribbon-green-right:after{
    content: "";
    border-top:   3px solid #6e8900;   
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-green-left:before, 
.ribbon-orange-left:before, 
.ribbon-red-left:before, 
.ribbon-green-right:before {
    right: 0;
}
.ribbon-green-left:after, 
.ribbon-orange-left:after, 
.ribbon-red-left:after, 
.ribbon-green-right:after {
    left: 0;
}

/* ------------------------------ BUTTONS ------------------------------ */
.button-orange {
    -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
    background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background-color:#ffc477;
    -webkit-border-top-left-radius:7px;
    -moz-border-radius-topleft:7px;
    border-top-left-radius:7px;
    -webkit-border-top-right-radius:7px;
    -moz-border-radius-topright:7px;
    border-top-right-radius:7px;
    -webkit-border-bottom-right-radius:7px;
    -moz-border-radius-bottomright:7px;
    border-bottom-right-radius:7px;
    -webkit-border-bottom-left-radius:7px;
    -moz-border-radius-bottomleft:7px;
    border-bottom-left-radius:7px;
    text-indent:0;
    border:1px solid #eeb44f;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:30px;
    line-height:30px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #cc9f52;
}
.button-orange:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
    background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
    background-color:#fb9e25;
}.button-orange:active {
    position:relative;
    top:1px;
}

a.btn { 
    display: inline-block; border: 1px solid #ccc; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; font-weight: bold;
    background-color: #f7f7f7; background-repeat: no-repeat; background-image: url(../../images/icons/default/sprites.png);
    -moz-box-shadow: 1px 1px 2px #eee; -webkit-box-shadow: 1px 1px 2px #eee; box-shadow: 1px 1px 2px #eee; color: #666;
}
a.btn:hover { 
    text-decoration: none; color: #333; -moz-box-shadow: 1px 1px 5px #ddd; -webkit-box-shadow: 1px 1px 5px #ddd; box-shadow: 1px 1px 5px #ddd; 
}
a.btn span { 
    padding: 5px 10px; margin-left: 35px; display: block; background: #fff url(../../images/admin/buttonbg.png) repeat-x 0 -31px; border-left: 1px solid #ccc; 
    text-shadow: 1px 1px #fff;
}
a.btn3 { width: 34px; height: 32px; }
a.btn_trash { background-position: -47px -12px; }


@media only screen and (min-width: 0px) and (max-width: 860px){
    .grid_1, .grid_2, .grid_3,
    .grid_4, .grid_5, .grid_6,
    .grid_7, .grid_8, .grid_9,
    .grid_10, .grid_11, .grid_12,
    .grid_13, .grid_14, .grid_15,
    .grid_16 {
        width: 98% !important;
        margin-left: 1% !important;
        margin-right: 1% !important;
    }

    #menu li a {display:block;font-size:25px;color:#fff;text-decoration:none;background:url(../../images/menu_marker.png) 0 6px no-repeat;padding-left:25px}
    .indexNextMatch{border: none;}
    
    .lastmatch {margin: 5px 15px 20px 15px; padding: 15px 0 0 60px; float: left;}
    .lastmatch-left {margin: 0 30px 0 20px; text-align: right; float: left;}
    .galleria{ max-width: 1100px; height: 500px; background: #000 }
}

@media only screen and (min-width: 861px) and (max-width: 1270px){

    .container_12 .grid_1,
    .container_12 .grid_2,
    .container_12 .grid_3,
    .container_12 .grid_4,
    .container_12 .grid_5,
    .container_16 .grid_1,
    .container_16 .grid_2,
    .container_16 .grid_3,
    .container_16 .grid_4,
    .container_16 .grid_5,
    .container_16 .grid_6,
    .container_16 .grid_7 {
        width: 48% !important;
    }
    .container_12 .grid_6,
    .container_12 .grid_7,
    .container_12 .grid_8,
    .container_12 .grid_9,
    .container_12 .grid_10,
    .container_12 .grid_11,
    .container_12 .grid_12,
    .container_16 .grid_8,
    .container_16 .grid_9,
    .container_16 .grid_10,
    .container_16 .grid_11,
    .container_16 .grid_12,
    .container_16 .grid_13,
    .container_16 .grid_14,
    .container_16 .grid_15,
    .container_16 .grid_16 {
        width: 98% !important;
    }

    #menu li a {display:block;font-size:20px;color:#fff;text-decoration:none;background:url(../../images/menu_marker.png) 0 6px no-repeat;padding-left:25px}
    .indexNextMatch{border: none;}
    .lastmatch {margin: 5px 15px 20px 15px; padding: 15px 0 0 60px; float: left;}
    .lastmatch-left {margin: 0 30px 0 20px; text-align: right; float: left;}
    .galleria{ max-width: 1100px; height: 600px; background: #000 }
}